* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0 !important;
}
/* navbar start */
nav {
  border-radius: 10px;
  background: #e0e0e0 !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff;
}
.navbar-brand {
  font-weight: 650;
}
.nav-item a {
  font-weight: 600;
}
/* navbar end */

/* home start */
.home {
  padding: 1rem;
  margin-top: 4rem;
}
.inner_banner:after {
  content: "";
  left: 0;
  opacity: 0.45;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.inner_banner {
    padding: 1rem;
  height: 60vh;
  -webkit-background-size: 180%;
  -moz-background-size: 180%;
  -o-background-size: 180%;
  -ms-background-size: 180%;

  position: relative;
  background-size: 180%;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 16px #c3c3c3, -5px -5px 16px #fdfdfd;
}
.agileinfo-inner h1 {
  font-size: 10rem;
  font-weight: 800;
  color: rgba(37, 36, 36, 0.452);
  letter-spacing: 0;
}
.agileinfo-inner h2 {
  color: rgba(0, 0, 0, 0.459);
}
.agileinfo-inner span {
  font-size: 2rem;
  margin: 0;
  color: rgba(182, 175, 164, 0.931);
}
.agileinfo-inner .check {
width: 20rem;
height: 2.5rem;
  border-radius: 10px !important;
  background: #e0e0e0 !important;
  box-shadow: 9px 9px 26px #c7c7c7, -9px -9px 26px #f9f9f9 !important;
}
/* home end */

/* list items  start*/

.list-items {
  padding-top: 5rem;
}
.container {
  text-align: center;
  justify-content: center;
  padding: 2rem !important;
}
.card {
  margin-right: 2rem;
  border-radius: 10px !important;
  background: linear-gradient(145deg, #cacaca, #f0f0f0) !important;
  box-shadow: 5px 5px 25px #a8a8a8, -5px -5px 25px #ffffff !important;
}
.mybtn {
  border-radius: 5px !important;
  background: linear-gradient(145deg, #cacaca, #f0f0f0) !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff !important;
}
.mysearch {
  border-radius: 39px !important;
  background: #e0e0e0 !important;
  box-shadow: 10px 10px 20px #989898, -10px -10px 20px #ffffff !important;
}
.mysearch:hover {
  border-radius: 39px !important;
  background: #e0e0e0 !important;
  box-shadow: inset 10px 10px 20px #bababa inset -10px -10px 20px #ffffff !important;
  color: #000;
}
.mydropdown {
  padding: 8px !important;
  border-radius: 10px !important;
  background: #e0e0e0 !important;
  box-shadow: 9px 9px 26px #c7c7c7, -9px -9px 26px #f9f9f9 !important;
}
.mydropdown li {
  border-radius: 5px !important;
  background: #e0e0e0 !important;
  box-shadow: 10px 10px 20px #989898, -10px -10px 20px #ffffff !important;
}


/* footer */
footer{
  text-align: center;  
  padding: 1rem;
   border-radius: 10px;
  background: #e0e0e0 !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff !important;
}
footer h4 {
    color: rgba(46, 44, 41, 0.534);
}