@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0 !important;
}
/* navbar start */
nav {
  border-radius: 10px;
  background: #e0e0e0 !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff;
}
.navbar-brand {
  font-weight: 650;
}
.nav-item a {
  font-weight: 600;
}
.mysearch {
  border-radius: 39px !important;
  background: #e0e0e0 !important;
  box-shadow: 10px 10px 20px #989898, -10px -10px 20px #ffffff !important;
}
.mysearch:hover {
  border-radius: 39px !important;
  background: #e0e0e0 !important;
  box-shadow: inset 10px 10px 20px #bababa inset -10px -10px 20px #ffffff !important;
  color: #000;
}
.mydropdown {
  padding: 8px !important;
  border-radius: 10px !important;
  background: #e0e0e0 !important;
  box-shadow: 9px 9px 26px #c7c7c7, -9px -9px 26px #f9f9f9 !important;
}
.mydropdown li {
  border-radius: 5px !important;
  background: #e0e0e0 !important;
  box-shadow: 10px 10px 20px #989898, -10px -10px 20px #ffffff !important;
}
/* navbar end */

/* home start */
.home {
  margin-top: 4.5rem;
  text-align: center;
}
.inner_banner:after {
  content: "";
  left: 0;
  opacity: 0.45;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  text-align: center;
  justify-content: center;
}

.inner_banner {
  text-align: center;
  padding: 1rem;
  height: 60vh;
  -webkit-background-size: 180%;
  -moz-background-size: 180%;
  -o-background-size: 180%;
  -ms-background-size: 180%;
  position: relative;
  background-size: 180%;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 16px #c3c3c3, -5px -5px 16px #fdfdfd;
}
.agileinfo-inner h1 {
  font-size: 9rem;
  font-weight: 900;
  color: rgba(37, 36, 36, 0.452);
  font-family: 'Bangers', cursive;
  letter-spacing: 0;
}
.agileinfo-inner h2 {
  color: rgba(0, 0, 0, 0.459);
  /* font-family: 'Redressed', cursive; */
  font-family: 'Akaya Telivigala', cursive;
  font-weight: 700;
}
.agileinfo-inner h4 {
  padding: 5px;
  font-family: 'Redressed', cursive;
  color: rgba(58, 57, 57, 0.753);
  margin: 1rem;
}
.agileinfo-inner span {
  font-size: 2rem;
  color: rgba(182, 175, 164, 0.931);
}
.agileinfo-inner h6 {
  font-size: 12px;
  text-align: end;
  margin-top: 3rem;
  color: rgba(94, 92, 92, 0.541);
}
.agileinfo-inner .check {
width: 20rem;
height: 2.5rem;
  border-radius: 10px !important;
  background: #e0e0e0 !important;
  box-shadow: 9px 9px 26px #c7c7c7, -9px -9px 26px #f9f9f9 !important;
}
.upi {
  padding: 20px;
  margin: 10px;
}
.sbi-img {
width: 4rem;
margin: 2px;
}
.icc-img {
    width: 5rem;
    margin: 2px;
}
.agileinfo-inner .sbi-img {
  width: 4rem;
  align-items: baseline ;
}
@media (max-width: 375px) {
  .agileinfo-inner h1{
    font-size: 5rem;
  }
  .agileinfo-inner .check{
    width: 15rem;
    height: 2.5rem;
  }
  .agileinfo-inner span{
     font-size: 1rem;
  }
  .agileinfo-inner h4 {
    font-size: 18px;
  }
  .sbi-img {
    width: 2rem;
  }
  .icc-img {
  width: 4rem;
  }
  }

/* home end */

/* list items  start*/
.list-items {
  margin: 2rem;
}
.card-group {
  justify-content: center !important;
}
.row {
  
  justify-content: center !important;
}
.card {
  width: 20rem !important;
  margin: 1rem;
  border-radius: 10px !important;
  background: linear-gradient(145deg, #cacaca, #f0f0f0) !important;
  box-shadow: 5px 5px 25px #a8a8a8, -5px -5px 25px #ffffff !important;
  justify-content: center !important;
  text-align: center;
}
.mybtn {
  border-radius: 5px !important;
  background: linear-gradient(145deg, #cacaca, #f0f0f0) !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff !important;
}

@media (min-width: 320px) {
  .card {

  }
  }



/* footer */
footer{
  text-align: center; 
  justify-content: center; 
  padding: 10px;
  border-radius: 10px;
  background: #e0e0e0 !important;
  box-shadow: 23px 23px 46px #a8a8a8, -23px -23px 46px #ffffff !important;
  
}
footer h4 {
    color: rgba(126, 102, 66, 0.534);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}
@media (max-width: 375px) {
  footer h4 {
    font-size: 15px;
  }
}